@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

/* Hide scrollbar */
ul::-webkit-scrollbar {
  display: none;
}

ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* iOS Safari */
}

/* different container widths for tailwind responsiveness for default, sm, md, lg, xl, 2xl */
.master-container {
  @apply mx-auto px-4;
  @screen sm {
    max-width: 640px;
  }
  @screen md {
    max-width: 768px;
  }
  @screen lg {
    max-width: 1024px;
  }
  @screen xl {
    max-width: 1280px;
  }
  @screen 2xl {
    max-width: 1536px;
  }
}

/* Tailwind CSS classes for responsive font sizes */
/* Apple's Typography Guidelines Type Scale for the Web */
/* These font sizes are based on Apple's recommended type scale for the web */

.font-header-1 {
  font-size: 36px;
  font-weight: bold;

  @screen sm {
    font-size: 40px;
  }

  @screen md {
    font-size: 44px;
  }

  @screen lg {
    font-size: 48px;
  }

  @screen xl {
    font-size: 52px;
  }

  @screen 2xl {
    font-size: 56px;
  }
}

.font-header-2 {
  font-size: 30px;
  font-weight: bold;

  @screen sm {
    font-size: 32px;
  }

  @screen md {
    font-size: 34px;
  }

  @screen lg {
    font-size: 36px;
  }

  @screen xl {
    font-size: 38px;
  }

  @screen 2xl {
    font-size: 40px;
  }
}

.font-header-3 {
  font-size: 24px;
  font-weight: bold;

  @screen sm {
    font-size: 26px;
  }

  @screen md {
    font-size: 28px;
  }

  @screen lg {
    font-size: 30px;
  }

  @screen xl {
    font-size: 32px;
  }

  @screen 2xl {
    font-size: 34px;
  }
}

.font-body-text {
  font-size: 16px;

  @screen sm {
    font-size: 16px;
  }

  @screen md {
    font-size: 18px;
  }

  @screen lg {
    font-size: 18px;
  }

  @screen xl {
    font-size: 20px;
  }

  @screen 2xl {
    font-size: 22px;
  }
}

.font-button-text {
  font-size: 16px;
  font-weight: bold;

  @screen sm {
    font-size: 16px;
  }

  @screen md {
    font-size: 18px;
  }

  @screen lg {
    font-size: 20px;
  }

  @screen xl {
    font-size: 20px;
  }

  @screen 2xl {
    font-size: 22px;
  }
}

.font-small-text {
  font-size: 14px;

  @screen sm {
    font-size: 14px;
  }

  @screen md {
    font-size: 14px;
  }

  @screen lg {
    font-size: 16px;
  }

  @screen xl {
    font-size: 16px;
  }

  @screen 2xl {
    font-size: 18px;
  }
}

.font-extra-small-text {
  font-size: 12px;

  @screen sm {
    font-size: 12px;
  }

  @screen md {
    font-size: 12px;
  }

  @screen lg {
    font-size: 14px;
  }

  @screen xl {
    font-size: 14px;
  }

  @screen 2xl {
    font-size: 16px;
  }
}

/* test class to see if everything works */
.test {
  @apply text-2xl text-red-500;
}

/* style the scroll bar to be red, rounded and slightly narrower, but still thick enoung to use */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #010105ff;
}

::-webkit-scrollbar-thumb {
  background: #e50914ff;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb:hover {
  background: #e50914ff;
}

/* experimental */
.Hero_backgroundImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    linear-gradient(
      180deg,
      transparent 50%,
      rgba(0, 0, 0, 0.3) 49%,
      rgba(0, 0, 0, 0.3) 85%,
      transparent
    ),
    url("/imdb-hero-bg.jpg");
  background-repeat: repeat;
}

/* -------------------------------------------- */
/* tailwind classes for the hero section carousel */
/* -------------------------------------------- */
@layer components {
  .header-link-item {
    @apply cursor-pointer text-xs font-medium opacity-75 transition duration-300 hover:opacity-100;
  }

  .carousel-btn-switch-card {
    @apply absolute z-40 flex h-9 w-9 cursor-pointer items-center justify-center
      rounded-full border-2 border-[#302e30] bg-[#181818] text-2xl opacity-75 transition duration-300 hover:opacity-100 md:h-12 md:w-12;
  }

  .carousel-btn-switch-card-left {
    @apply right-1/2 top-1/2 translate-x-[-200px] translate-y-[-50%] transform sm:translate-x-[-250px] md:translate-x-[-300px] lg:translate-x-[-350px];
  }

  .carousel-btn-switch-card-right {
    @apply left-1/2 top-1/2 translate-x-[200px] translate-y-[-50%] transform sm:translate-x-[250px] md:translate-x-[300px] lg:translate-x-[350px];
  }
  /* 
  .carousel-indicator {
    @apply ;
  }

  .carousel-indicator-dots {
    @apply ;
  } */

  .carousel-container {
    @apply relative h-32 w-full sm:h-40 md:h-56;
    perspective: 80dvw;
    transform-style: preserve-3d;
  }

  .carousel-item {
    @apply absolute inset-0 mx-auto h-auto w-[400px] overflow-hidden rounded-3xl drop-shadow-[0_8px_30px_rgb(0,0,0,0.12)] transition-all duration-700 ease-in-out;
  }
}
