.gradientAnimation {
  background: linear-gradient(
    120deg,
    hsl(0, 0%, 85%) 30%,
    hsl(0, 0%, 100%) 38%,
    hsl(0, 0%, 100%) 40%,
    hsl(0, 0%, 85%) 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 1.5s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}
